Event-based-flow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Propertyvalue",
                            "type": "string",
                            "value": "@body('Parse_JSON')?['propertyValue']"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Compose": {
                "type": "Compose",
                "inputs": {
                    "email": "@{variables('Propertyvalue')}",
                    "sourceId": "@{variables('SourceId')}"
                },
                "runAfter": {
                    "Initialize_variable_1": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable_1": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "SourceId",
                            "type": "string",
                            "value": "@body('Parse_JSON')?['sourceId']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "demo-queue"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "eventId": {
                                "type": "integer"
                            },
                            "subscriptionId": {
                                "type": "integer"
                            },
                            "portalId": {
                                "type": "integer"
                            },
                            "appId": {
                                "type": "integer"
                            },
                            "occurredAt": {
                                "type": "integer"
                            },
                            "subscriptionType": {
                                "type": "string"
                            },
                            "attemptNumber": {
                                "type": "integer"
                            },
                            "objectId": {
                                "type": "integer"
                            },
                            "propertyName": {
                                "type": "string"
                            },
                            "propertyValue": {
                                "type": "string"
                            },
                            "changeSource": {
                                "type": "string"
                            },
                            "sourceId": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "appId": {
                                "type": "integer"
                            },
                            "eventId": {
                                "type": "integer"
                            },
                            "subscriptionId": {
                                "type": "integer"
                            },
                            "portalId": {
                                "type": "integer"
                            },
                            "occurredAt": {
                                "type": "integer"
                            },
                            "subscriptionType": {
                                "type": "string"
                            },
                            "attemptNumber": {
                                "type": "integer"
                            },
                            "objectId": {
                                "type": "integer"
                            },
                            "changeSource": {
                                "type": "string"
                            },
                            "propertyName": {
                                "type": "string"
                            },
                            "propertyValue": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}